<!DOCTYPE html>
<html lang= "en">
    <head>
        <meta charset = "utf-8">
        <title>Login</title>
        <meta name="viewport" content="width-device-width, initial-scale-1">
        {% load static %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <div class="container">
        <body>
            <div class= "row">
                <div class= "col-sm-6">
                    <h1 class= "jumbotron">Success! Welcome, {{user.first_name}}!</h1>
                </div>
                <div class= "col-sm-1">
                    <a class= "btn btn-primary" href="/logout">Logout</a>
                </div>
            </div>
            <div class="row">
                <h4>Successfully registered (or logged in)!</h4>
            </div>
        </body>
    </div>
</html>